body {
  font-family: "Wigrum-Light", "Verdana", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1D3B64 !important;
}

.para-content {
  color: rgb(101, 101, 101);
  font-size: 15px;
  text-align: justify;
}

.Manufacturer-paraone {
  margin-top: 5px;
  font-size: 14px;
}

.List-content {
  color: rgb(101, 101, 101);
}

.Product-Para H6 {
  color: #1D3B64;
  font-weight: bold;
  padding-right: 3px;
}

/* TOP HEADER */
.top-header {
  background-color: #1D3B64;
  color: white;
  font-size: 14px;
}

.top-header {
  padding: 20px;
}


.logo img {
  height: 80px;
  width: 200px;
}


/* NAVBAR */
.custom-navbar {
  background: #fff;
  padding: 5px 6px;
  border-bottom: 1px solid #eee;
}

.navbar-row-main {
  width: 100%;
}

/* LOGO */
.logo {
  margin: 0;
  font-weight: bold;
}

/* MENU */
.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: #222;
  font-weight: 600;
  font-size: 15px !important;
  position: relative;
}

/* ACTIVE + HOVER ORANGE */
.nav-link:hover,
.nav-link.active {
  color: #1D3B64;
}

/* UNDERLINE EFFECT */
.nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background: #1D3B64;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

/* SEARCH BUTTON */
.search-btn {
  background: #dce1e2;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Whatapp BUTTON */
.Whatapp-image {
  height: 30px;
  width: 30px;
}

.support-btn {
  background: #d1d4d6;
  border: none;
  /* color: white; */
  padding: 7px 4px;
  border-radius: 25px;
  font-weight: 600;
}

/* MOBILE TOGGLE */
.menu-toggle {
  display: none;
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}


.carousel-caption-div {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 50px;
  text-align: justify !important;
  right: 1% !important;
  left: auto !important;
  font-size: 14px;
  top: 60% !important;
  bottom: -0.75rem !important;
}

.carousel-caption-div p {
  color: black;
}


/*------------------- Banner CSS Start -----------------*/

.Banner-main {
  width: 100%;
  overflow: hidden;
}

.Banner-carousel-inner {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.Banner-carousel-item {
  min-width: 100%;
}

.Banner-carousel-item img {
  width: 100%;
  height: 680px;
  object-fit: cover;
  display: block;
}

/* ---- Large Screen ------- */

@media (max-width: 1200px) {

  .Banner-carousel-item img {
    height: 600px;
  }

}


/* ----- Laptop ----- */

@media (max-width: 992px) {

  .Banner-carousel-item img {
    height: 500px;
  }

}


/* ------ Tablet ------- */

@media (max-width: 768px) {

  .Banner-carousel-item img {
    height: 400px;
    object-position: center;
  }

}


/* ---- Mobile ----- */

@media (max-width: 576px) {

  .Banner-carousel-item img {
    height: 260px;
    object-position: center;
  }

}

/*------------------- Banner CSS END -----------------*/



/* ---------------- New Card CSS---------------------- */
/* SECTION */
.report-section {
  padding: 60px 0;
}

/* CARD */
.report-card {
  position: relative;
  background: #fff;
  overflow: hidden;
  height: 100%;
  transition: 0.3s ease;
}

.Product-row-Two {
  margin-top: 25px !important;
}

/* SLANTED CORNER EFFECT */
.report-card::before {
  content: "";
  position: absolute;
  bottom: -45px;
  right: -45px;
  width: 50px;
  height: 120px;
  background: #ededed;
  transform: rotate(45deg);
  z-index: 2;
}

/* HOVER */
.report-card:hover {
  transform: translateY(-5px);
}

/* IMAGE */
.report-image {
  position: relative;
  height: 285px;
  overflow: hidden;
}

.report-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BLUE OVERLAY */
.report-image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 35%;
  height: 100%;
  /* background: linear-gradient(180deg,
      rgba(0, 123, 255, 0.85),
      rgba(0, 0, 40, 0.9)); */
  z-index: 1;
}

/* HOVER EFFECT (optional but pro) */
.report-image:hover img {
  transform: scale(1.05);
  transition: 0.4s;
}

/* TEXT OVER IMAGE */
.overlay-content {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 3;
  color: #fff;
}

.overlay-content h2 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 120px;
}

.overlay-content p {
  font-size: 16px;
  letter-spacing: 1px;
  color: #cfcfcf;
  margin: 0;
}

/* BIG VERTICAL TEXT */
.vertical-text {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 100px;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.45);
  line-height: 0.8;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  z-index: 2;
}

/* CONTENT */
.report-content {
  padding: 35px 30px 70px;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.report-content h3 {
  font-size: 22px;
  font-weight: 700;
  color: #12386b;
  margin-bottom: 25px;
}

.report-content p {
  font-size: 15px;
  line-height: 1.9;
  color: #222;
  margin-bottom: 30px;
}

/* BUTTON */
.read-btn {
  text-decoration: none;
  color: #12386b;
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
}

.read-btn:hover {
  color: #0d6efd;
}

/* ---------------Why Us-------------- */
/* WHY US Carousel Styles */
.whyus-carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.WHYUS-Img-Section {
  align-content: center;
}

.WHYUS-Img-Section img {
  width: 500px !important;
  height: 480px;
  border-radius: 20px;
}

/* RESPONSIVE */
@media(max-width:991px) {

  .overlay-content h2 {
    font-size: 34px;
    margin-bottom: 90px;
  }

  .vertical-text {
    font-size: 80px;
  }
}

@media(max-width:767px) {

  .report-image {
    height: 240px;
  }

  .overlay-content h2 {
    font-size: 28px;
    margin-bottom: 70px;
  }

  .vertical-text {
    font-size: 60px;
  }

  .report-content {
    padding: 25px 20px 60px;
  }

  .report-content p {
    font-size: 16px;
  }
}

/* ----------------- New Card CSS --------------------- */





/* SECTION */
.feature-section {
  background: #ededed;
}

.Product-Heading h5 {
  display: flex;
}

.Product-Para {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.underline-Product-Points {
  display: flex;
  justify-content: flex-start;
  width: 280px;
  height: 2px;
  background: #1D3B64;
  margin-top: 2px;
}

.underline-TUBES-ROD {
  width: 230px;
}

.INDUSTRIAL-TUBES {
  width: 230px;
}

/* HEADING LINE */
.underline {
  width: 160px;
  height: 3px;
  background: #1D3B64;
  margin-top: 2px;
}

.underline-Machining {
  width: 190px;
}

.underline-ABOUT {
  width: 185px;
}

.underline-PRODUCTS {
  width: 200px;
}

.underline-MACHINING {
  width: 410px;
}

.underline-CYLINDER {
  width: 530px;
}

.underline-Partners {
  width: 240px;
}

.underline-CaseStudies {
  width: 240px;
}

.underline-testimonials {
  width: 240px;
}

.underline-CoreValues {
  width: 300px;
}


/* Case Studies */
.CaseStudies-frist-part {
  display: flex;
}

.CaseStudies-frist-part h2 {
  text-align: left;
}

.CaseStudies-second-part {
  display: flex;
  gap: 145px;
}

.CaseStudies-frist-part p {
  text-align: justify;
}

.CS-Sec-POne {
  align-content: center;
}

.CS-Sec-POne p {
  text-align: justify;
}


/*------------ COMPANY LOGO -------------*/
.certification-section,
.achievement-section,
.map-section {
  background: #44596b;
  position: relative;
  overflow: hidden;
  padding: 50px 200px;
}

.certification-section::before,
.achievement-section::before,
.map-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    radial-gradient(circle at top left,
      rgba(255, 255, 255, 0.06) 2px,
      transparent 2px);
  background-size: 200px 200px;
  opacity: 0.3;
}

/* Slider */

.logo-slider {
  overflow: hidden;
  position: relative;
}

.logo-track {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: scrollLeft 38s linear infinite;
}

.logo-card {
  width: 230px;
  height: 220px;
  background: #fff;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex-shrink: 0;
}

.logo-card img {
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
}

/* Auto Moving Right To Left */
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/*------------ COMPANY LOGO -------------*/

/*------------ TESTIMONIALS CARDS -------------*/
.testimonials-section {
  background-color: #f9f9f9;
}

.testimonial-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* LEFT SIDE */
.testimonial-left {
  width: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-text {
  font-style: italic;
  font-size: 14px;
}

.testimonial-name {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 600;
}

.testimonial-stars {
  color: #f4b400;
  font-size: 14px;
}

/* RIGHT SIDE */
.testimonial-right {
  width: 50%;
}

.testimonial-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*------------ TESTIMONIALS CARDS -------------*/




/* BUTTON */
.read-btn {
  background: #1D3B64;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  margin-top: 10px;
}

.read-btn:hover {
  background: white;
  color: #1D3B64;
}

.service-card {
  background-color: #f8f3f3;
  padding: 20px;
  border-top: 3px solid #1D3B64;
  border-left: 3px solid #1D3B64;
  border-radius: 0px 20px;
  height: 260px;
}

.service-card ul {
  text-align: justify;
}

.service-card:hover {
  border-bottom: 3px solid #1D3B64;
  border-right: 3px solid #1D3B64;
  border-top: none;
  border-left: none;
  margin-top: -10px;

}

/* OUR SERVICES PROJECT */
.feature-card {
  position: relative;
  overflow: hidden;
}

.feature-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* ORANGE SLANTED BOX */
.feature-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1D3B64;
  color: white;
  padding: 30px 20px;

  /* 🔥 THIS CREATES SAME ANGLE */
  clip-path: polygon(0 30%, 100% 10%, 100% 100%, 0% 100%);
}

/* TEXT */
.feature-overlay h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.feature-overlay p {
  font-size: 14px;
}

/* BUTTON */
.feature-overlay button {
  margin-top: 10px;
  background: white;
  color: #1D3B64;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 600;
}

/* HOVER EFFECT (optional but pro) */
.report-image:hover img {
  transform: scale(1.05);
  transition: 0.4s;
}


.CYLINDER-Child2-Div {
  display: flex;
  text-align: justify;
}

/* ---------------About Us CSS-------------- */
.About-Info {
  margin-top: 20px !important;
}

.para-about-highlight {
  color: #1D3B64;
  font-weight: bold;
}

.ABOUT-Img-Section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ABOUT-Img-Section .AboutUs2 {
  object-fit: cover;
  position: fixed;
}

.ABOUT-Img-Section img {
  width: 490px !important;
  height: 390px;
  border-radius: 20px;
}

.custom-carousel-wrapper {
  overflow: hidden;
  display: flex;
}

.about-custom-carousel-wrapper {
  margin-left: 90px;
}

/* ---------------About Us CSS-------------- */

/* --------------Partners-content CSS --------------- */

.services-content {
  background-color: #ededed;
}

/* WRAPPER */
.team-wrapper {
  position: relative;
  margin-top: 40px;
}

/* SLIDER */
.slider-container {
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: 0.4s ease;
  justify-content: space-evenly;
}

.team-slide {
  padding: 10px;
}

/* CARD */
.team-card {
  position: relative;
  background: #d7d5d5;
  text-align: center;
  overflow: hidden;
  width: 400px;
  border-radius: 20px;
}

.team-card img {
  padding: 20px 0px 10px;
  height: 180px;
  border-radius: 50%;
  object-fit: contain;
}

/* INFO (DEFAULT) */
.team-info {
  background: #d7d5d5;
  padding: 20px;
}

.team-info h5 {
  margin: 0;
  font-weight: 600;
}

.team-info p {
  margin: 0;
  color: #777;
}

/* OVERLAY */
.team-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2d3e50;
  border-radius: 20px 20px 0px 0px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5px;
  align-items: center;
  transform: translateY(100%);
  transition: 0.6s;
}

.Partners-details {
  text-align: justify;
  padding: 0 15px;
}

.socials .soical-icons {
  color: white;
}

/* SHOW ON HOVER */
.team-card:hover .team-overlay {
  transform: translateY(0);
}

/* SOCIAL ICONS */
.socials {
  margin-top: 10px;
}

.socials span {
  display: inline-block;
  margin: 5px;
  border: 1px solid #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

/* CONTROLS */
.team-controls {
  margin-top: 20px;
}

.team-controls button {
  width: 45px;
  height: 45px;
  border: none;
  background: #1D3B64;
  color: #fff;
  margin-right: 5px;
}

.team-controls button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* FIX MOBILE STACK */
@media (max-width: 767px) {
  .slider-track {
    display: block;
  }
}

/* --------------Slider CSS --------------- */


/* ========================================================= */
/* MISSION VISION QUALITY SECTION */
/* ========================================================= */

.mission-main-icon {
  font-size: 44px;
  color: #1D3B64;
}

.mission-vision-section {
  background: #f5f5f5;
}

.mission-card {
  background: #fdfbf9;
  padding: 45px 30px;
  border-radius: 10px;
  height: 100%;
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.mission-card:hover {
  transform: translateY(-8px);
  box-shadow: 1px 2px 2px 1px #1D3B64;
}

.mission-icon {
  margin-bottom: 25px;
}

.mission-icon h3 {
  font-size: 40px;
  color: #b7dceb;
}

.mission-card h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}

.mission-card p {
  font-size: 15px;
  line-height: 20px;
  color: #8b8b8b;
  margin-bottom: 30px;
}

.WhyUs-Info {
  align-content: center;
}

.section-two {
  margin-top: 30px !important;
}

.techinical-card {
  padding: 30px 30px;
}

.techinical-icon {
  margin-bottom: 15px;
}

.techinical-main-icon {
  font-size: 32px;
  color: #1D3B64;
}

.techinical-card h3 {
  font-size: 18px;
}

/* ========================================================= */
/* SOCIAL ICONS */
/* ========================================================= */

.mission-socials {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.mission-socials span a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #d8edf6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.4s ease;
}

.social-icons {
  color: #3b3b3b;
  font-size: 18px;
}

.mission-socials span a:hover {
  background: #8cc7df;
  transform: scale(1.1);
}

/* ========================================================= */
/* RESPONSIVE MISSION VISION QUALITY */
/* ========================================================= */

@media(max-width:991px) {

  .mission-card {
    padding: 35px 25px;
  }

  .mission-icon i {
    font-size: 70px;
  }

  .mission-card h3 {
    font-size: 30px;
  }

  .mission-card p {
    font-size: 16px;
    line-height: 28px;
  }

}

@media(max-width:576px) {

  .mission-card {
    padding: 30px 20px;
  }

  .mission-icon i {
    font-size: 60px;
  }

  .mission-card h3 {
    font-size: 26px;
  }

  .mission-card p {
    font-size: 15px;
    line-height: 26px;
  }

}




/* --- HISTORY SECTION STYLES --- */
.underline-HISTORY {
  width: 170px;
  height: 4px;
  background-color: #1D3B64;
  /* Adjust to your brand color */
  margin-top: 2px;
}

.history-timeline-wrapper {
  position: relative;
  padding: 40px 0;
}

/* The horizontal line */
.history-line {
  position: absolute;
  top: 50px;
  /* Adjust based on dot position */
  left: 0;
  right: 0;
  height: 2px;
  background-color: #dee2e6;
  z-index: 1;
}

.history-item {
  position: relative;
  z-index: 2;
}

/* The Dots */
.history-dot {
  width: 15px;
  height: 15px;
  background-color: #004085;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px #1D3B64;
}

.history-sub-item {
  transition: all 0.7s ease;
  padding: 5px;
}


.history-sub-item:hover {
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px #1D3B64;
  transform: translateY(-10px);
}

.history-item h6 {
  color: #333;
  margin-bottom: 5px;
}

.history-item p {
  line-height: 1.4;
  color: #666;
}

.GeogList-Class {
  font-size: 14px;
  font-weight: bold;
  color: #1D3B64;
}



/* 1200px CSS Of All CSS*/
@media screen and (max-width: 1200px) {
  .ABOUTus-Section-Main h2 {
    font-size: 26px;
  }

  .underline-ABOUT {
    width: 155px;
  }

  .ABOUTus-Section-Main h4 {
    font-size: 20px;
  }

  .para-content {
    font-size: 13px;
  }

  .ABOUT-Img-Section img {
    width: 430px !important;
    height: 330px;
  }

  .custom-carousel-wrapper {
    margin-left: 5px;
  }

  /* Products */
  .Product-Heading h2 {
    font-size: 26px;
  }

  .underline-PRODUCTS {
    width: 170px;
  }

  .report-content h3 {
    font-size: 17px;
  }

  .report-content p {
    font-size: 11px;
    text-align: justify;
  }

  .read-btn {
    font-size: 12px;
  }

  .underline-MACHINING {
    width: 340px;
  }

  .services h2 {
    font-size: 26px;
  }

  .underline-CYLINDER {
    width: 430px;
  }

  .services h5 {
    font-size: 18px;
  }

  .List-content {
    font-size: 13px;
  }

  .underline-Partners {
    width: 200px;
  }

  .team-card img {
    height: 150px;
  }

  .team-info p {
    font-size: 14px;
  }

  .history-item p {
    font-size: 13px;
  }

  .team-card {
    width: 300px;
  }

  .history-section h2 {
    font-size: 26px;
  }

  .underline-HISTORY {
    width: 140px;
  }

  .history-item p {
    font-size: 13px;
  }

  .WhyUs-Section-Main h2 {
    font-size: 26px;
  }

  .underline-WhyUs {
    width: 140px;
  }

  .mission-vision-section h2 {
    font-size: 26px;
  }

  .underline-CoreValues {
    width: 250px;
  }

  .mission-main-icon {
    font-size: 50px;
  }

  .mission-card h3 {
    font-size: 25px;
  }

  .techinical-card h3 {
    font-size: 14px;
  }

  .techinical-card p {
    font-size: 11px;
  }

  .Header-Details span {
    font-size: 12px;
  }

  .Header-Time span {
    font-size: 12px;
  }

  .top-header {
    padding: 20px;
  }

  .menu-list .nav-link {
    font-size: 14px !important;
  }


}



/* Responsive adjustment for Mobile */
@media (max-width: 768px) {
  .history-line {
    display: none;
    /* Hide line on mobile for vertical look or grid */
  }

  .history-item {
    margin-bottom: 30px;
  }

  .history-dot {
    margin-bottom: 10px;
  }
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .feature-overlay {
    clip-path: none;
    /* remove angle for small screens */
  }
}



/* RESPONSIVE FIX */
@media (max-width: 768px) {
  .card-content {
    clip-path: none;
    /* remove slant for mobile */
    margin-top: -30px;
  }
}


/* MOBILE DESIGN */
@media (max-width: 768px) {
  .menu-toggle {
    display: inline-block;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    background: white;
    transition: 0.3s;
    padding: 20px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .menu-list {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .support-btn {
    display: none;
  }

  .search-btn {
    display: none;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    background: white;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }
}

/* SECTION */
.section {
  height: 100vh;
  padding: 50px;
  border-bottom: 1px solid #ccc;
}


/* ---  FOOTER CSS --- */
.lasani-footer {
  background-color: #1D3B64;
  font-family: 'Arial', sans-serif;
}

.footer-header {
  font-weight: 700;
  color: white !important;

  margin-bottom: 1.5rem;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-logo {
  max-width: 180px;
  border-radius: 20px;
}

.bank-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  border-radius: 8px;
  border-left: 4px solid #fff;
}

.footer-list li {
  margin-bottom: 12px;
  font-size: 0.9rem;
  display: flex;
  align-items: flex-start;
}

.icon {
  margin-right: 10px;
}

/* --- TABLET VIEW (768px to 991px) --- */
@media (max-width: 991px) {
  .footer-column {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-header {
    font-size: 1.1rem;
  }
}

/* --- MOBILE VIEW (Below 767px) --- */
@media (max-width: 767px) {
  .lasani-footer {
    text-align: center;
    /* Center everything on mobile */
  }

  .footer-list li {
    justify-content: center;
    /* Center the icons and text */
    flex-direction: column;
    align-items: center;
  }

  .icon {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .bank-card {
    border-left: none;
    border-top: 4px solid #fff;
    margin: 10px auto;
    max-width: 300px;
  }

  .footer-column {
    margin-bottom: 2rem;
  }
}